$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-large = 21px
$font-size-basic = 14px
$font-size-small = 10px

grid-maker(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, false, $font-size-small)

html,
body
  margin: 0
  height: 100%
  width: 100%
  overflow: hidden
  position: relative
  top: 0
  left: 0

body
  cursor: none
  &.loading
    *
      cursor: none !important
    #cursor-loading
      visibility: visible
    #cursor-brush
      visibility: hidden

#cursor-brush
  &.hide
    visibility: hidden

.cursor
  pointer-events: none
  position: fixed
  top: -9999px
  left: -9999px
  z-index: 500

#cursor-loading
  visibility: hidden
  width: 50px
  height: 50px
  animation: fullRotate 1s linear infinite
  transform-origin: center

@keyframes fullRotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)

#cursor-brush
  visibility: visible
  width: 100px
  height: 100px

@media screen and (hover: none), screen and (pointer: course)
  #cursor-loading
    top: calc('25vh - 25px')
    left: calc('50vw - 25px')
  #cursor-brush
    visibility: hidden !important

#site-title
  position: absolute
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  pointer-events: none

canvas
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh

#footer
  position: fixed
  bottom: 0
  left: 0
  width: 100vw

body
  &.nav-open
    #project-menu
      transform: translateX(-100%)
    #doodle-view, #footer
      transform: translateX(-75%)
  &.project-open
    #project-menu
      transform: translateX(-300%)
    #doodle-view, #footer
      transform: translateX(-100%)
    #project-holder
      transform: translateX(-100%) translateZ(0)

#doodle-view, #project-menu, #project-holder, #footer
  transition: transform 200ms linear

#project-menu
  position: fixed
  top: 0
  right: -75vw
  width: 75vw
  height: 100vh
  background-color: $color-white
  z-index: 2
  overflow: scroll
  li
    margin-bottom: 1em

#header
  .js-menu-trigger
    position: fixed
    top: 0
    right: 0
    z-index: 1

#project-holder
  position: fixed
  top: 0
  right: -100vw
  width: 100vw
  height: 100vh
  background-color: $color-white
  z-index: 2
  overflow: scroll
  font-weight: 300
  -webkit-overflow-scrolling: touch
  h1, em
    font-weight: normal
  p
    max-width: 500px
  figcaption
    max-width: 500px
  iframe
    max-width: 100%
  ul, ol
    margin-left: 1rem
    margin-bottom: 1rem
    max-width: 500px
    ul, ol
      margin-bottom: 0
  ul
    list-style-type: circle
  ol
    list-style-type: decimal
  .wp-block-embed
    margin-left: 0
    margin-right: 0
  .wp-block-image,
  .wp-block-embed
    figcaption
      text-align: left
      color: $color-black
      font-size: $font-size-small

.hide-brush
  cursor: default
  a
    cursor: pointer
